<!DOCTYPE html>
<html>
    <body>
        <h1>This app is a ToDo App!</h1>
        <p>
            You can create, edit and delete tasks.
        </p>
        <p><%= link_to 'Home', tasks_path %></p>
    </body>
</html>