<!DOCTYPE html>
<html>
    <body>
        <h1>Welcome to ToDo App!</h1>
        <p>
            It is an application that can manage tasks.<br>
            Please login in the top right corner and then create a task. Or you can create an account.
        </p>
    </body>
</html>