<footer class="footer">
  <small>
    It is an application that can manage tasks.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %></li>
    </ul>
  </nav>
</footer>