<footer class="footer">
  <small>
    It is an application that can manage tasks.
  </small>
  <nav>
    <ul>
      <li><%= link_to "GitHub",   'https://github.com/Crew373/todo_app' %></li>
    </ul>
  </nav>
</footer>